<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<devices>
    <device>
        <deviceName>EAP-SIM-PROXY01</deviceName>
        <deviceID>22707</deviceID>
        <sensors>
            <sensor>
                <sensorName>Ping</sensorName>
                <sensorID>22708</sensorID>
                <channels>
                    <channel>
                        <channelName>下線時間</channelName>
                        <channelID>-4</channelID>
                    </channel>
                    <channel>
                        <channelName>Ping 時間</channelName>
                        <channelID>0</channelID>
                    </channel>
                    <channel>
                        <channelName>最小值</channelName>
                        <channelID>1</channelID>
                    </channel>
                    <channel>
                        <channelName>最大值</channelName>
                        <channelID>2</channelID>
                    </channel>
                    <channel>
                        <channelName>封包丟失</channelName>
                        <channelID>3</channelID>
                    </channel>
                </channels>
            </sensor>
        </sensors>
</devices>