<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<devices>
    <device>
        <deviceName>HP Color LaserJet Pro M478f-9w</deviceName>
        <deviceID>7875</deviceID>
        <sensors>
            <sensor>
                <sensorName>PING</sensorName>
                <sensorID>7876</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                    <channel>
                        <channelName>Minimum</channelName>
                        <channelID>1</channelID>
                    </channel>
                    <channel>
                        <channelName>Maximum</channelName>
                        <channelID>2</channelID>
                    </channel>
                    <channel>
                        <channelName>Packet Loss</channelName>
                        <channelID>3</channelID>
                    </channel>
                </channels>
            </sensor>
            <sensor>
                <sensorName>Uptime</sensorName>
                <sensorID>7877</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>(001) LOOPBACK Traffic</sensorName>
                <sensorID>7878</sensorID>
                <channels>
                    <channel>
                        <channelName>Traffic Total</channelName>
                        <channelID>-1</channelID>
                    </channel>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>(003) wifi0 Traffic</sensorName>
                <sensorID>7879</sensorID>
                <channels>
                    <channel>
                        <channelName>Traffic Total</channelName>
                        <channelID>-1</channelID>
                    </channel>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>(004) wifiUAP Traffic</sensorName>
                <sensorID>7880</sensorID>
                <channels>
                    <channel>
                        <channelName>Traffic Total</channelName>
                        <channelID>-1</channelID>
                    </channel>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>Pages Printed Difference</sensorName>
                <sensorID>7882</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>Pages Printed Total</sensorName>
                <sensorID>7883</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>Jam/Status</sensorName>
                <sensorID>7884</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>Paper/Status</sensorName>
                <sensorID>7885</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>

                </channels>
            </sensor>
            <sensor>
                <sensorName>Memory: Random Access Memory</sensorName>
                <sensorID>7890</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>
                    <channel>
                        <channelName>Percent Available Memory</channelName>
                        <channelID>0</channelID>
                    </channel>

                    <channel>
                        <channelName>Total Memory</channelName>
                        <channelID>2</channelID>
                    </channel>
                </channels>
            </sensor>
            <sensor>
                <sensorName>SNMP Printer</sensorName>
                <sensorID>7895</sensorID>
                <channels>
                    <channel>
                        <channelName>Downtime</channelName>
                        <channelID>-4</channelID>
                    </channel>
                    <channel>
                        <channelName>Total Page Count</channelName>
                        <channelID>2</channelID>
                    </channel>
                    <channel>
                        <channelName>Black Cartridge HP W2040A</channelName>
                        <channelID>3</channelID>
                    </channel>
                    <channel>
                        <channelName>Cyan Cartridge HP W2041A</channelName>
                        <channelID>4</channelID>
                    </channel>

                    <channel>
                        <channelName>Top cover</channelName>
                        <channelID>7</channelID>
                    </channel>
                    <channel>
                        <channelName>Ink supply cover</channelName>
                        <channelID>8</channelID>
                    </channel>
                    <channel>
                        <channelName>Rear access door</channelName>
                        <channelID>9</channelID>
                    </channel>
                    <channel>
                        <channelName>Duplexer door</channelName>
                        <channelID>10</channelID>
                    </channel>
                    <channel>
                        <channelName>Black Cartridge unknown</channelName>
                        <channelID>11</channelID>
                    </channel>
                    <channel>
                        <channelName>Cyan Cartridge unknown</channelName>
                        <channelID>12</channelID>
                    </channel>
                    <channel>
                        <channelName>Magenta Cartridge unknown</channelName>
                        <channelID>13</channelID>
                    </channel>
                    <channel>
                        <channelName>Yellow Cartridge unknown</channelName>
                        <channelID>14</channelID>
                    </channel>
                </channels>
            </sensor>
        </sensors>
    </device>
</devices>